@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.win-message {
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
    background-color: white;
    color: black;
    border-radius: 10px;
    animation: fadeIn 1s;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
}

.modal-text {
    font-size: 1.2rem;
}