.App {
  text-align: center;
  margin: 1rem auto;
}

.turns {
  font-weight: bold;
  font-size: 1.2em;
}

.button {
  width: 250px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  background-color: var(--dark-grey);
  color: var(--white);
  margin: 1rem auto;
}
.button:hover {
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}